
@model Ascon.Pilot.Web.ViewModels.RenderViewModel

<div class="row">
    @{
        for (var i = 1; i <= Model.GetPages(); i++)
        {
            var href = Url.Action("Page", "Files", new {id = Model.FileId, page = i});
            <img class="doc-page" src="@href" alt="" />
        }
    }
</div>

