@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Toolbar -->
<div class="navbar navbar-default toolbar" id="toolbar">
    <div class="navbar-header">
        <div class="navbar-brand">
            <a id="downloadButton" href="#" role="button" title="Скачать" target="_blank">
                <span class="glyphicon glyphicon-download-alt"></span>&nbsp;
                <span class="hidden-xs">Создать</span>
            </a>
            <a id="downloadArchiveButton" role="button" onclick="downloadArchive(this)" title="Скачать архивом">
                <span class="glyphicon glyphicon-folder-close"></span>&nbsp;
                <span class="hidden-xs">Сортировка</span>
            </a>
            <a id="filesPanelToggler" role="button">
               <span class="glyphicon glyphicon-th"></span>&nbsp;
                <span class="hidden-xs">Настройки</span>
            </a>
        </div>
    </div>
</div>

<!-- Filters -->
<div class="wrap">
    <div class="hidden-xs hidden-sm sidebar-left">
        <div class="list-group" id="ddlCategory">
            <a href="#" onclick="loadTasks(6)" class="list-group-item noborder">Актуальные</a>
            <a href="#" onclick="loadTasks(7)" class="list-group-item noborder">Выданные</a>
            <a href="#" onclick="loadTasks(8)" class="list-group-item noborder">Полученные</a>
            <a href="#" onclick="loadTasks(12)" class="list-group-item noborder">Вы в аудиторах</a>
            <a href="#" onclick="loadTasks(9)" class="list-group-item noborder">Просроченные</a>
            <a href="#" onclick="loadTasks(10)" class="list-group-item noborder">Выполненные</a>
            <a href="#" onclick="loadTasks(11)" class="list-group-item noborder">Отозванные</a>
            <a href="#" onclick="loadTasks(5)" class="list-group-item noborder">Все</a>
        </div>
    </div>
    
    <div class="main-content">
            <div class="col-md-7">
                <div id="progress" class="text-center" style="display: none;">
                    <span class="glyphicon glyphicon-spin glyphicon-refresh"></span>
                </div>
                    <div id="taskList" class="list-group" style="margin:0;">
                    </div>
            </div>
    </div>

    <div class="hidden-xs hidden-sm sidebar-right">
        rrrrr
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/tasks.js"></script>
