@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Toolbar -->
<div class="navbar navbar-default toolbar" id="toolbar">
    <div class="navbar-header">
        <div class="navbar-brand">
            <a id="downloadButton" href="#" role="button" title="Скачать" target="_blank">
                <span class="glyphicon glyphicon-download-alt"></span>&nbsp;
                <span class="hidden-xs">Создать</span>
            </a>
            <a id="downloadArchiveButton" role="button" onclick="downloadArchive(this)" title="Скачать архивом">
                <span class="glyphicon glyphicon-folder-close"></span>&nbsp;
                <span class="hidden-xs">Сортировка</span>
            </a>
            <a id="filesPanelToggler" role="button">
               <span class="glyphicon glyphicon-th"></span>&nbsp;
                <span class="hidden-xs">Настройки</span>
            </a>
        </div>
    </div>
</div>

<!-- Filters -->
<div class="container5">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group" id="ddlCategory">
                <a onclick="loadTasks(6)" class="list-group-item">Актуальные</a>
                <a onclick="loadTasks(7)" class="list-group-item">Выданные</a>
                <a onclick="loadTasks(8)" class="list-group-item">Полученные</a>
                <a onclick="loadTasks(12)" class="list-group-item">Вы в аудиторах</a>
                <a onclick="loadTasks(9)" class="list-group-item">Просроченные</a>
                <a onclick="loadTasks(10)" class="list-group-item">Выполненные</a>
                <a onclick="loadTasks(11)" class="list-group-item">Отозванные</a>
                <a onclick="loadTasks(5)" class="list-group-item">Все</a>
            </div>
        </div>
        <div class="col-md-5">
            <!-- Tasks -->
            <div id="progress" class="text-center" style="display: none;">
                <span class="glyphicon glyphicon-spin glyphicon-refresh"></span>
            </div>

            <div id="taskList">
            </div>
        </div>
        <div class="col-md-5">
            <div>
                <!-- Task Preview -->
                {$spaceright}
            </div>
        </div>
    </div>
</div>

<script src="~/js/tasks.js"></script>
